@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}
}
.remove-account-container {
	display: inline-block;
	position: relative;
}
.btn-remove-account {
	top: 10px;
	right: 10px;
	position: absolute;
}

.login-form-bg{
    background-color: #ECF9F8;
    border: 15px solid;
    border-radius: 15px;
    border-color: #ECF9F8;
    margin-top: 50px;
}
